html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
}

body {
  background-color: #323437;
}